table-actions-row([tableDataSource]="dataSource", [customActionsDef]="customTableActions")

ng-container(#headerRowPlaceHolder="")
data-source-progress-bar([tableDataSource]="tableDataSource")
ng-container(#dataRowPlaceHolder="")

data-source-paginator

ng-container
  header-row(*headerRowDef="displayedColumnIds")
  data-row(*dataRowDef="displayedColumnIds;")
