@import "../../../../style/toolkit/swatches";

@row-height: 48px;
@row-horizontal-padding: 24px;

data-table {
  display: block;
  background-color: #424242;

  .header-cell {
    font-size: 12px;
    font-weight: 500;
    color: rgba(255, 255, 255, .7);
  }

  .data-cell {
    font-size: 14px;
    color: #fff;
  }

  .data-row, .header-row {
    display: flex;
    border-bottom: 1px solid rgba(255, 255, 255, .12);
    align-items: center;
    min-height: @row-height;
    padding: 0 @row-horizontal-padding;
  }

  .data-cell, .header-cell {
    flex: 1;
    overflow: hidden;
    word-wrap: break-word;

    &.buttons-column {
      flex: initial;
    }
  }

}

