table-actions-row

ng-container(#headerRowPlaceHolder="")
data-source-progress-bar
ng-container(#dataRowPlaceHolder="")

data-source-paginator

ng-container
  header-row(*headerRowDef="displayedColumnIds")
  data-row(*dataRowDef="displayedColumnIds;")
