
<div class="sort-header-container" [class.sort-header-position-before]="arrowPosition == 'before'">
  <button class="sort-header-button" type="button">
    <ng-content></ng-content>
  </button>
  <div class="sort-header-arrow" *ngIf="isSorted" [@indicatorToggle]="_sortState">
    <div class="sort-header-stem"></div>
    <div class="sort-header-indicator" [@indicator]="_sortState">
      <div class="sort-header-pointer-left" [@leftPointer]="_sortState"></div>
      <div class="sort-header-pointer-right" [@rightPointer]="_sortState"></div>
      <div class="sort-header-pointer-middle"></div>
    </div>
  </div>
  <div class="sort-header-index superscript" *ngIf="isSorted">{{sortIndex}}</div>
</div>