.sort-header-container([class.sort-header-position-before]="arrowPosition == 'before'")
  button.sort-header-button(type="button")
    ng-content
  .sort-header-arrow(*ngIf="isSorted", [@indicatorToggle]="_sortState")
    .sort-header-stem
    .sort-header-indicator([@indicator]="_sortState")
      .sort-header-pointer-left([@leftPointer]="_sortState")
      .sort-header-pointer-right([@rightPointer]="_sortState")
      .sort-header-pointer-middle
