p Custom commands are messages bound to chat commands.#[br]

data-table(tableId="custom-commands", [dataSource]="dataSource", [exportConfig]="exportConfig", [filterMapping]="tableFilterMapping")
  ng-template(customTableActions)
    button(mat-icon-button, (click)="editCommand()", matTooltip="Add new command")
      mat-icon add

  ng-container(columnDef="Command")
    header-cell(*headerCellDef="", sortProperty="Command", sortDefault="ASC") Command
    data-cell(*dataCellDef="let command")
      command-form([command]="command", [argsDisabled]="!commandHasArgs(command)")
      small.command-message.text-muted {{command.Message}}

  ng-container(columnDef="User Group")
    header-cell(*headerCellDef="", sortProperty="UserGroup.Name") Group
    data-cell(*dataCellDef="let command")
      | {{command.UserGroup.Name}}

  ng-container(columnDef="Cooldown")
    header-cell(*headerCellDef="", sortProperty="Cooldown") Cooldown
    data-cell(*dataCellDef="let command")
      | {{command.Cooldown | time}}

  ng-container(columnDef="Price")
    header-cell(*headerCellDef="", sortProperty="Price") Price
    data-cell(*dataCellDef="let command")
      | {{command.Price | points | async}}

  ng-container(columnDef="Aliasses")
    header-cell(*headerCellDef="") Aliasses
    data-cell(*dataCellDef="let command")
      ul.list-unstyled
        li(*ngFor="let alias of command.Aliasses") &#33;{{alias}}

  ng-container(columnDef="#Edit", [buttonsColumn]="1")
    header-cell(*headerCellDef="")
    data-cell(*dataCellDef="let command")
      a.mat-icon-button.pull-right(mat-button, (click)="editCommand(command)", matTooltip="Edit command")
        mat-icon edit
