form(#userEditForm="", (submit)="save()")
  mat-card
    mat-card-content
      mat-form-field
        input#user-title(matInput, name="user-title", placeholder="Title", [formControl]="titleControl")
        mat-hint Some commands prepend this value to the user's username.

      mat-form-field
        input#user-points(matInput, type="number", name="user-points", [placeholder]="undefined | points | async", required="true",
        [formControl]="pointsControl")
        mat-hint User {{undefined | points | async}}
        mat-error(*ngIf="pointsControl.hasError('required')") This field is required!

      mat-form-field
        input#user-recorded-time(matInput, type="number", name="user-recorded-time", placeholder="Recorded Time ({{recordedTimeControl.value | time}})", required="true",
        [formControl]="recordedTimeControl")
        mat-hint The time, Biliomi measured, for which this user has been in the channel in milliseconds.
        mat-error(*ngIf="recordedTimeControl.hasError('required')") This field is required!

      mat-form-field(*ngIf="user?.Follower")
        input#user-follow-date(matInput, name="user-follow-date", placeholder="Follows Since",
        [formControl]="followDateControl", [matDatepicker]="followDatePicker")
        mat-datepicker-toggle(matSuffix, [for]="followDatePicker")
        mat-datepicker(#followDatePicker="", [disabled]="false")
        mat-hint Only for correction purposes. Biliomi keeps track of followers via Twitch.

      mat-form-field(*ngIf="user?.Subscriber")
        input#user-subscribe-date(matInput, name="user-subscribe-date", placeholder="Subscribed Since",
        [formControl]="subscribeDateControl", [matDatepicker]="subscribeDatePicker")
        mat-datepicker-toggle(matSuffix, [for]="subscribeDatePicker")
        mat-datepicker(#subscribeDatePicker="", [disabled]="false")
        mat-hint Only for correction purposes. Biliomi keeps track of subscribers via Twitch.

      div(*ngIf="!editUserComponent.isCurrentUser")
        mat-slide-toggle([hidden]="user?.Caster || user?.Moderator", [formControl]="isBlacklistedControl")
          | Blacklist User
        .checkbox-subscript
          .checkbox-hint
            | Blacklisted users are prohibited from posting commands.
          .checkbox-error([hidden]="user?.BlacklistedSince == undefined")
            | {{user?.DisplayName}} has been blacklisted since {{user?.BlacklistedSince| date}}

        user-group-selector([(userGroup)]="userGroup")

    mat-card-actions
      save-button([disabled]="!isFormOk")
      button(mat-button, type="button", (click)="initFields()", matTooltip="Refresh data")
        mat-icon refresh
