data-table([dataSource]="dataSource", [disableFilter]="true")
  ng-container(columnDef="Date")
    header-cell(*headerCellDef="", sortProperty="Date") Date
    data-cell(*dataCellDef="let record") {{record.Date | date}}

  ng-container(columnDef="Fatal")
    header-cell(*headerCellDef="", sortProperty="Fatal") Fatal
    data-cell(*dataCellDef="let record")
      mat-icon(*ngIf="record.Fatal", color="primary") done
