data-table([dataSource]="dataSource", [disableFilter]="true")
  ng-container(columnDef="Invested")
    header-cell(*headerCellDef="", sortProperty="Invested") Invested
    data-cell(*dataCellDef="let record") {{record.Invested | points | async}}

  ng-container(columnDef="Interest")
    header-cell(*headerCellDef="", sortProperty="Interest") Interest
    data-cell(*dataCellDef="let record") {{record.Interest * 100}}%

  ng-container(columnDef="Project")
    header-cell(*headerCellDef="", sortProperty="Project") Project
    data-cell(*dataCellDef="let record") {{record.Project}}

  ng-container(columnDef="Payout")
    header-cell(*headerCellDef="", sortProperty="Payout") Payout
    data-cell(*dataCellDef="let record") {{record.Payout | points | async}}

  ng-container(columnDef="Date")
    header-cell(*headerCellDef="", sortProperty="Date", [sortDefault]="'DESC'") Date
    data-cell(*dataCellDef="let record") {{record.Date | date}}