p Total donations: {{totalDonations}}

data-table([dataSource]="dataSource", [disableFilter]="true")
  ng-container(columnDef="Donation")
    header-cell(*headerCellDef="", sortProperty="Donation") Donation
    data-cell(*dataCellDef="let donation")
      | {{donation.Donation}}

  ng-container(columnDef="Note")
    header-cell(*headerCellDef="", sortProperty="Note") Note
    data-cell(*dataCellDef="let donation")
      | {{donation.Note}}

  ng-container(columnDef="Date")
    header-cell(*headerCellDef="", sortProperty="Date", [sortDefault]="'DESC'") Date
    data-cell(*dataCellDef="let donation")
      | {{donation.Date | date}}
