data-source-progress-bar([dataSource]="dataSource")

mat-table(#table="", [dataSource]="dataSource")
  ng-container(matColumnDef="User")
    mat-header-cell(*matHeaderCellDef="") Username
    mat-cell(*matCellDef="let record")
      user-display([user]="record.User")

  ng-container(matColumnDef="Date")
    mat-header-cell(*matHeaderCellDef="") Date
    mat-cell(*matCellDef="let record")
      | {{record.Date | date}}

  ng-container(matColumnDef="Actions")
    mat-header-cell(*matHeaderCellDef="") &nbsp;
    mat-cell(*matCellDef="let record")
      .mat-button-row
        a.mat-icon-button.pull-right(mat-button, color="warn", (click)="deleteRecord(record)", title="Delete Record")
          mat-icon delete_forever
        a.mat-icon-button.pull-right(mat-button, (click)="hostNow(record)", title="Host Now")
          mat-icon queue_play_next

  mat-header-row(*matHeaderRowDef="['User', 'Date', 'Actions']")
  mat-row(*matRowDef="let row; columns: ['User.DisplayName', 'Date', 'Actions'];")
