data-table([dataSource]="dataSource", [hideActions]="true", [lockPagination]="true")
  ng-container(columnDef="Direction")
    header-cell(*headerCellDef="", sortProperty="Direction") Direction
    data-cell(*dataCellDef="let record") {{record.Direction}}

  ng-container(columnDef="Date")
    header-cell(*headerCellDef="", sortProperty="Date", [sortDefault]="'DESC'") Date
    data-cell(*dataCellDef="let record") {{record.Date | date}}

  ng-container(columnDef="AutoHost", [buttonsColumn]="1")
    header-cell(*headerCellDef="", sortProperty="AutoHost") Auto host
    data-cell(*dataCellDef="let record")
      mat-icon(*ngIf="record.AutoHost", color="primary") done

  ng-container(columnDef="#Edit", [buttonsColumn]="1")
    header-cell(*headerCellDef="")
    data-cell(*dataCellDef="let record")
      a.mat-icon-button.pull-right(mat-button, (click)="deleteRecord(record)", matTooltip="Delete record")
        mat-icon(color="warn") delete_forever
