data-table([dataSource]="dataSource", [hideActions]="true", [lockPagination]="true")
  ng-container(columnDef="Achievement")
    header-cell(*headerCellDef="", sortProperty="Achievement") Achievement
    data-cell(*dataCellDef="let record") {{record.Achievement}}

  ng-container(columnDef="Date")
    header-cell(*headerCellDef="", sortProperty="Date", [sortDefault]="'DESC'") Date
    data-cell(*dataCellDef="let record") {{record.Date | date}}

  ng-container(columnDef="#Edit", [buttonsColumn]="1")
    header-cell(*headerCellDef="")
      data-cell(*dataCellDef="let record")
        a.mat-icon-button.pull-right(mat-button, (click)="deleteRecord(record)", matTooltip="Delete record")
          mat-icon(color="warn") delete_forever
