ul.list-unstyled
  li
    span.text-muted User Group:&nbsp;
    span {{command.UserGroup.Name}}
  li
    span.text-muted Cooldown:&nbsp;
    span {{command.Cooldown | time}}
  li
    span.text-muted Price:&nbsp;
    span {{command.Price | points | async}}
