# Jetbrains project files
/.idea/
/Biliomi-ui.iml

# Node dependencies
node_modules/

# UI config file (Copy the sample when needed)
/resources-dev/*

# Build output directory
/dist/
/package-lock.json
