
<form>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Caps & Repeated Characters</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <!-- Caps-->
      <mat-slide-toggle [formControl]="excessiveCapsAllowedControl">Allow Excessive Caps</mat-slide-toggle>
      <mat-form-field>
        <input id="caps-trigger-input" matInput type="number" name="caps-trigger-input" placeholder="Caps Trigger" required [formControl]="capsTriggerControl"/>
        <mat-hint>The minimum amount of characters in a message before caps are evaluated.</mat-hint>
        <mat-error *ngIf="capsTriggerControl.hasError('required')">This field is required!</mat-error>
        <mat-error *ngIf="capsTriggerControl.hasError('min')">Please enter a valid amount (greater than 0).</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input id="caps-trigger-ratio-input" matInput type="number" name="caps-trigger-ratio-input" placeholder="Caps Trigger" required [formControl]="capsTriggerRatioControl"/><span matSuffix>%</span>
        <mat-hint>The maximum caps to lowercase ratio allowed, from 0% to 100%.</mat-hint>
        <mat-error *ngIf="capsTriggerRatioControl.hasError('required')">This field is required!</mat-error>
        <mat-error *ngIf="capsTriggerRatioControl.hasError('min')">Please enter a valid amount (greater than 0).</mat-error>
        <mat-error *ngIf="capsTriggerRatioControl.hasError('max')">Please enter a valid amount (lesser than or equal to 100).</mat-error>
      </mat-form-field>
      <hr/>
      <!-- Repeated Characters-->
      <mat-slide-toggle [formControl]="repeatedCharactersAllowedControl">Allow Repeated Characters</mat-slide-toggle>
      <mat-form-field>
        <input id="repeated-character-trigger-input" matInput type="number" name="repeated-character-trigger-input" placeholder="Repeated Character Trigger" required [formControl]="repeatedCharacterTriggerControl"/>
        <mat-hint>The maximum length of a repeated character chain.</mat-hint>
        <mat-error *ngIf="repeatedCharacterTriggerControl.hasError('required')">This field is required!</mat-error>
        <mat-error *ngIf="repeatedCharacterTriggerControl.hasError('min')">Please enter a valid amount (greater than 0).</mat-error>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" matTooltip="Save" [actionButton]="saveSettings.bind(this)" [disabled]="!isFormOk">
        <mat-icon>done</mat-icon>
      </button>
      <button mat-button type="button" (click)="ngOnInit()" matTooltip="Refresh data">
        <mat-icon>refresh</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</form>