form(#linkModerationSettingsForm="", (submit)="saveSettings()")
  mat-card
    mat-card-header
      mat-card-title Link Moderation

    mat-card-content
      mat-checkbox([formControl]="linksAllowedControl") Allow Link Posting

      mat-form-field
        input#chat-moderator-link-permit-expire-time(matInput, type="number", name="chat-moderator-link-permit-expire-time",
        placeholder="Permit Duration", required="true", [formControl]="linkPermitExpireTimeControl")
        mat-hint The amount of milliseconds for which a link permit lasts.
        mat-error(*ngIf="linkPermitExpireTimeControl.hasError('required')") This field is required!
        mat-error(*ngIf="linkPermitExpireTimeControl.hasError('min')") Please enter a valid amount (min 60000 = 1 minute).

      chip-list-input(#linkWhitelistInput="", placeholder="Whitelisted Links")
        | Simply start typing urls separated by spaces to add them to the list. Links are checked by occurence of whitelisted links.
        | So http://shadywebsite.com?url=http://juraji.nl would also be seen as an ok link. You might want to be very specific about whitelisting links.

    mat-card-actions
      button(mat-raised-button, color="primary", [disabled]="!isFormOk", title="Save")
        mat-icon done
      button(mat-button, type="button", (click)="ngOnInit()", title="Refresh data")
        mat-icon refresh
