form(#strikesAndExcemptionSettingsForm="", (submit)="saveSettings()")
  mat-card
    mat-card-header
      mat-card-title Strikes and Group Excemption

    mat-card-content
      p.
        Messages by users in the excempted group (or higher) are not evaluated by the chat moderator.#[br]
        For example if you set the excempted group to Viewer all users will be excempted from moderation.
      user-group-select(#exemptedGroupControl="", placeholder="Excempted User Group")

      hr

      p.
        Biliomi keeps moderation strikes per user for the duration of an hour.#[br]
        The first moderation action will perform strike 1, the second Strike 2 and 3 and beyond will execute Strike 3.
      strike-selector(#strike1="", placeholder="Strike 1")
      strike-selector(#strike2="", placeholder="Strike 2")
      strike-selector(#strike3="", placeholder="Strike 3")

    mat-card-actions
      button(mat-raised-button, color="primary", matTooltip="Save")
        mat-icon done
      button(mat-button, type="button", (click)="ngAfterViewInit()", matTooltip="Refresh data")
        mat-icon refresh
