p Check out the latest roulette records and change roulette settings

.columns
  .col.span-8-of-12
    data-table(tableId="roulette-records", [dataSource]="dataSource", [exportConfig]="exportConfig", [filterMapping]="filterMapping")
      ng-container(columnDef="User.DisplayName")
        header-cell(*headerCellDef="", sortProperty="User.DisplayName") Username
        data-cell(*dataCellDef="let record")
          user-display([user]="record.User")

      ng-container(columnDef="Fatal")
        header-cell(*headerCellDef="", sortProperty="Fatal") Fatal
        data-cell(*dataCellDef="let record")
          mat-icon(*ngIf="record.Fatal", color="primary") done

      ng-container(columnDef="Date")
        header-cell(*headerCellDef="", sortProperty="Date") Date
        data-cell(*dataCellDef="let record") {{record.Date | date}}

      ng-container(columnDef="#Actions", [buttonsColumn]="1")
        header-cell(*headerCellDef="") &nbsp;
        data-cell(*dataCellDef="let record")
          a.mat-icon-button.pull-right(mat-button, color="warn", (click)="deleteRecord(record)", matTooltip="Delete Record")
            mat-icon delete_forever

  .col.span-4-of-12
    form(#rouletteSettingsForm="", (submit)="saveSettings()")
      mat-card
        mat-card-header
          mat-card-title Roulette Settings

        mat-card-content
          mat-slide-toggle([formControl]="enableTimeoutControl")
            | Enable Timeout on Death

          mat-form-field(*ngIf="enableTimeoutControl.value")
            input#roulette-timeout-duration(matInput, type="number", name="roulette-timeout-duration",
            placeholder="Timeout on Death Duration", required="true", [formControl]="timeoutControl")
            mat-hint The duration of a timeout on death in milliseconds ({{timeoutControl.value | time}}). Timeouts only apply to non-moderators.
            mat-error(*ngIf="timeoutControl.hasError('required')") This field is required!
            mat-error(*ngIf="timeoutControl.hasError('min')") Please enter a valid amount (min. 10000).

        mat-card-actions
          save-button([disabled]="!isSettingsFormOk", [stateEmitter]="_rouletteSettingsClient.afterSave")
          button(mat-button, type="button", (click)="initFields()", matTooltip="Refresh data")
            mat-icon refresh
