form(#twitterSettingsForm="", (submit)="save()")
  mat-card
    mat-card-header
      mat-card-title Steam Integration
      mat-card-subtitle(*ngIf="!_steamSettingsClient._IntegrationEnabled")
        | Steam integration is disabled, run Biliomi in install or update mode to set it up via the installation process.

    mat-card-content(*ngIf="_steamSettingsClient._IntegrationEnabled")
      mat-slide-toggle([formControl]="autoUpdateChannelGameControl") Enable Automatically Update Channel Game From Steam

    mat-card-actions(*ngIf="_steamSettingsClient._IntegrationEnabled")
      save-button([stateEmitter]="_steamSettingsClient.afterSave")
      button(mat-button, type="button", (click)="initFields()", matTooltip="Refresh data")
        mat-icon refresh