p Check up on the latest registered quotes or add a new one

.columns
  .col.span-8-of-12
    data-table(tableId="quotes", [dataSource]="dataSource", [exportConfig]="exportConfig", [filterMapping]="filterMapping")
      ng-container(columnDef="User")
        header-cell(*headerCellDef="", sortProperty="User.Username") Username
        data-cell(*dataCellDef="let record")
          user-display([user]="record.User")

      ng-container(columnDef="Message")
        header-cell(*headerCellDef="", sortProperty="Message") Message
        data-cell(*dataCellDef="let record") {{record.Message}}

      ng-container(columnDef="Date")
        header-cell(*headerCellDef="", sortProperty="Date", [sortDefault]="'DESC'") Date
        data-cell(*dataCellDef="let record") {{record.Date | date}}

      ng-container(columnDef="GameAtMoment")
        header-cell(*headerCellDef="", sortProperty="GameAtMoment.Name") During Game
        data-cell(*dataCellDef="let record") {{record.GameAtMoment.Name}}

      ng-container(columnDef="#Actions", [buttonsColumn]="1")
        header-cell(*headerCellDef="") &nbsp;
        data-cell(*dataCellDef="let record")
          a.mat-icon-button.pull-right(mat-button, color="warn", (click)="deleteRecord(record)", matTooltip="Delete Record")
            mat-icon delete_forever

  .col.span-4-of-12
    form(#registerQuoteForm="", (submit)="registerNewQuote()")
      mat-card
        mat-card-header
          mat-card-title Register Quote

        mat-card-content
          mat-form-field
            input#quote-message(matInput, name="quote-message",
            placeholder="Message", required="true", [formControl]="messageControl")
            mat-hint The quote message
            mat-error(*ngIf="messageControl.hasError('required')") This field is required!

          user-autocomplete(#userControl="", required="required")

          p.text-muted.
            The new quote will be stated in the chat and the current game and date/time will be used.

        mat-card-actions
          save-button([disabled]="!isFormOk")