p Check out the usage history for commands

data-table(tableId="command-history", [dataSource]="dataSource", [exportConfig]="exportConfig", [filterMapping]="tableFilterMapping")
  ng-container(columnDef="Command")
    header-cell(*headerCellDef="", sortProperty="Command") Command
    data-cell(*dataCellDef="let record") &#33;{{record.Command}}

  ng-container(columnDef="TriggeredBy")
    header-cell(*headerCellDef="", sortProperty="TriggeredBy") TriggeredBy
    data-cell(*dataCellDef="let record") &#33;{{record.TriggeredBy}}

  ng-container(columnDef="Arguments")
    header-cell(*headerCellDef="", sortProperty="Arguments") Arguments
    data-cell(*dataCellDef="let record") {{record.Arguments}}

  ng-container(columnDef="Date")
    header-cell(*headerCellDef="", sortProperty="Date", [sortDefault]="'DESC'") Date
    data-cell(*dataCellDef="let record") {{record.Date | date}}

  ng-container(columnDef="User")
    header-cell(*headerCellDef="", sortProperty="User") User
    data-cell(*dataCellDef="let record")
      user-display([user]="record.User")

  ng-container(columnDef="Success")
    header-cell(*headerCellDef="", sortProperty="Success") Success
    data-cell(*dataCellDef="let record")
      mat-icon(*ngIf="record.Success", color="primary") check