.paginator-container
  .paginator-page-size(*ngIf="!lockPaging")
    .paginator-page-size-label
      | Items per page

    mat-form-field.paginator-page-size-select(*ngIf="_displayedPageSizeOptions.length > 1")
      mat-select([value]="_pageSize", (change)="changePageSize($event.value)", ngDefaultControl)
        mat-option(*ngFor="let opt of _displayedPageSizeOptions", [value]="opt") {{opt}}

  .paginator-range-actions
    .paginator-range-label
      | {{rangeLabel}}

    ng-container(*ngIf="!lockPaging")
      button.paginator-navigation-previous(mat-icon-button, type="button",
      (click)="previousPage()", [disabled]="!hasPreviousPage", matTooltip="Previous page", [matTooltipPosition]="'above'")
        mat-icon chevron_left

      button.paginator-navigation-next(mat-icon-button, type="button",
      (click)="nextPage()", [disabled]="!hasNextPage", matTooltip="Next page", [matTooltipPosition]="'above'")
        mat-icon chevron_right
