.paginator-actions
  a(mat-icon-button, (click)="showEveryThing()", title="Show Everything", [disabled]="lockPaging")
    mat-icon last_page
mat-paginator(#matPaginator="", [pageSize]="20", [pageSizeOptions]="pagingOptions")
