form(#filterQueryForm="", (submit)="applyQuery($event)")
  mat-form-field
    input(matInput, name="filter-query", [formControl]="filterQueryControl", placeholder="Query",
    (focus)="fieldFocus = true", (blur)="fieldFocus = false", autocomplete="off")
    mat-icon(matSuffix, (click)="showHelp()", title="Help") help
    mat-icon(*ngIf="filterQueryControl.value != ''", matSuffix, (click)="clearInput()", title="Clear input") backspace
