.table-notices
  //button(*ngIf="!tableDataSource.hasData", mat-button, disabled="disabled") No data
.table-actions
  button(*ngIf="tableExportConfig && parentTableId", mat-icon-button, [matMenuTriggerFor]="tableMenu")
    mat-icon more_vert
  mat-menu(#tableMenu="matMenu")
    button(*ngIf="tableExportConfig", mat-menu-item, (click)="exportData()")
      mat-icon cloud_download
      span Export
    button(*ngIf="parentTableId", mat-menu-item, (click)="tableSetup()")
      mat-icon settings
      span Table Setup

  button(mat-icon-button, (click)="dataSource.update()", matTooltip="Refresh")
    mat-icon refresh

  ng-container(*ngIf="customActionsDef", [ngTemplateOutlet]="customActionsDef")

  table-filter-query(*ngIf="!disableFilter")
