h2(matDialogTitle) Table Filter Queries

mat-dialog-content
  p.
    You can filter rows with a Query field by using simple queries.#[br]
    Use as many predicates as you like!

  h4 Operators:
  table
    thead
      tr
        th Symbol
        th Meaning
        th Symbol
        th Meaning
    tbody
      tr
        td &#61;
        td Equals
        td &#33;&#61;
        td Not equals
      tr
        td &#126;
        td Contains
        td &#33;&#126;
        td Not contains
      tr
        td &#60;
        td Less than
        td &#33;&#62;
        td Less than or equal to
      tr
        td &#62;
        td Greater than
        td &#33;&#60;
        td Greater than or equal to

  hr
  h4 Predicate Examples
  table.fluid
    thead
      tr
        th Description
        th Query
    tbody
      tr
        td All commands that equal "mycommand"
        td: pre command = mycommand
      tr
        td All commands that contain "my" and hav a price higher than 10 points
        td: pre command ~ my and price > 10
      tr
        td All users with a recorded time higher than 0 or with points higher than 0
        td: pre recorded time > 0 or points > 0
      tr
        td All users in group "Viewer" with a recorded time higher than 0 or users with points higher than 0"
        td: pre group = viewer and recorded time > 0 or points > 0
      tr
        td All Commands with one of the aliasses containing "test"
        td: pre aliasses ~ test

  hr
  h4 Special values
  p.
    Special values, like a booleans (true, false) and numbers, are always matched by their meaning.#[br]
    If you want to match the actual word put the value within double quotes, e.g. "true" or "123".
  p.
    Dates should be written as follows: 2017-12-23 or 2017-12-23T23:45.

mat-dialog-actions
  a(mat-raised-button, color="primary", (click)="close()") Got it!
