<form #filterQueryForm (submit)="applyQuery($event)">
    <mat-form-field>
        <input matInput name="filter-query" [formControl]="filterQueryControl" placeholder="Query"
               (focus)="fieldFocusChange(true)" (blur)="fieldFocusChange(false)" autocomplete="off"/>
        <mat-icon matSuffix (click)="showHelp()" matTooltip="Help">help</mat-icon>
        <mat-icon *ngIf="filterQueryControl.value != ''" matSuffix (click)="clearInput()" matTooltip="Clear input">
            backspace
        </mat-icon>
        <mat-error *ngIf="filterQueryControl.getError('pattern')">Invalid query</mat-error>
        <mat-error *ngIf="filterQueryControl.getError('emptyResult')">Query yielded empty result</mat-error>
    </mat-form-field>
</form>