form(#tableSetupForm="", (submit)="saveTableSetup()")
  h2(matDialogTitle) Table Setup

  mat-dialog-content
    p Select which columns to display:
    ng-container(*ngFor="let column of _columnsSetup")
      mat-checkbox(*ngIf="!column.id.startsWith('#')", [(ngModel)]="column.visible", [ngModelOptions]="{standalone: true}")
        ng-template([ngTemplateOutlet]="column.headerCellDef.template")

  mat-dialog-actions
    button(mat-raised-button, color="primary", title="Save")
      mat-icon done
