form(#filterQueryForm="", (submit)="applyQuery($event)")
  mat-form-field
    input(matInput, name="filter-query", [formControl]="filterQueryControl", placeholder="Query",
    (focus)="_fieldFocus = true", (blur)="_fieldFocus = false", autocomplete="off")
    mat-icon(matSuffix, (click)="showHelp()", matTooltip="Help") help
    mat-icon(*ngIf="filterQueryControl.value != ''", matSuffix, (click)="clearInput()", matTooltip="Clear input") backspace
    mat-error(*ngIf="filterQueryControl.getError('pattern')") Invalid query
    mat-error(*ngIf="filterQueryControl.getError('emptyResult')") Query yielded empty result
