#page-not-found-wrapper
  mat-card
    mat-card-header
      div.biliomi-app-avatar(matCardAvatar)
      mat-card-title Page Not Found
      mat-card-subtitle The page your tried to go to does not exist.

    mat-card-actions
      button(mat-raised-button, color="primary", routerLink="/dash") Go to Dash
