.mat-button-row.pull-right
  button.pull-right(mat-mini-fab, color="primary", (click)="exportTemplates()", title="Export to Excel")
    mat-icon cloud_download
  button(mat-mini-fab, color="primary", (click)="dataSource.update()", title="Refresh")
    mat-icon refresh

p Templates are used by Biliomi all over the place, from raid-messages to tweets.

mat-progress-bar(*ngIf="!dataSource.isInitialized", mode="indeterminate")

mat-table(*ngIf="dataSource.isInitialized", #table="", [dataSource]="dataSource")
  ng-container(matColumnDef="TemplateKey")
    mat-header-cell(*matHeaderCellDef="") Key
    mat-cell(*matCellDef="let template")
      | {{template.TemplateKey | caseToWord:"TITLE_CASE"}}

  ng-container(matColumnDef="Template")
    mat-header-cell(*matHeaderCellDef="") Template
    mat-cell(*matCellDef="let template")
      | {{template.Template}}

  ng-container(matColumnDef="Description")
    mat-header-cell(*matHeaderCellDef="") Description
    mat-cell(*matCellDef="let template")
      | {{template.Description}}

  ng-container(matColumnDef="Edit")
    mat-header-cell(*matHeaderCellDef="")
    mat-cell(*matCellDef="let template")
      a.mat-icon-button.pull-right(mat-button, (click)="editTemplate(template)", title="Edit template")
        mat-icon edit

  mat-header-row(*matHeaderRowDef="['TemplateKey', 'Description', 'Edit']")
  mat-row(*matRowDef="let row; columns: ['TemplateKey', 'Description', 'Edit'];")

mat-paginator(#paginator="", [pageSize]="10", [pageSizeOptions]="[5, 10, 20, 50]")

