p Templates are used by Biliomi all over the place, from raid-messages to tweets.

data-table(tableId="templates", [dataSource]="dataSource", [exportConfig]="exportConfig", [filterMapping]="tableFilterMapping")
  ng-container(columnDef="TemplateKey")
    header-cell(*headerCellDef="", sortProperty="TemplateKey", [sortDefault]="'ASC'") Key
    data-cell(*dataCellDef="let template")
      | {{template.TemplateKey | caseToWord:"TITLE_CASE"}}

  ng-container(columnDef="Template")
    header-cell(*headerCellDef="") Template
    data-cell(*dataCellDef="let template")
      | {{template.Template}}

  ng-container(columnDef="Description")
    header-cell(*headerCellDef="") Description
    data-cell(*dataCellDef="let template")
      | {{template.Description}}

  ng-container(columnDef="#Edit", [buttonsColumn]="1")
    header-cell(*headerCellDef="")
    data-cell(*dataCellDef="let template")
      a.mat-icon-button.pull-right(mat-button, (click)="editTemplate(template)", matTooltip="Edit template")
        mat-icon edit

