p Templates are used by Biliomi all over the place, from raid-messages to tweets.

data-table(tableId="templates", [tableDataSource]="dataSource", [exportConfig]="exportConfig")
  ng-template(tableButtons)
    table-filter-query([filterMapping]="tableFilterMapping")

  ng-container(matColumnDef="TemplateKey")
    mat-header-cell(*matHeaderCellDef="") Key
    mat-cell(*matCellDef="let template")
      | {{template.TemplateKey | caseToWord:"TITLE_CASE"}}

  ng-container(matColumnDef="Template")
    mat-header-cell(*matHeaderCellDef="") Template
    mat-cell(*matCellDef="let template")
      | {{template.Template}}

  ng-container(matColumnDef="Description")
    mat-header-cell(*matHeaderCellDef="") Description
    mat-cell(*matCellDef="let template")
      | {{template.Description}}

  ng-container(matColumnDef="#Edit")
    mat-header-cell(*matHeaderCellDef="", buttonsColumn="1")
    mat-cell(*matCellDef="let template", buttonsColumn="1")
      a.mat-icon-button.pull-right(mat-button, (click)="editTemplate(template)", title="Edit template")
        mat-icon edit

