mat-card
  mat-card-header
    img(matCardAvatar, [src]="channelInfoClient.LogoUri")
    mat-card-title {{channelInfoClient.ChannelName}}
    mat-card-subtitle([ngClass]="{'text-ok': channelInfoClient.IsOnline, 'text-not-ok': !channelInfoClient.IsOnline}")
      | {{channelInfoClient.IsOnline ? "online" : "offline"}}

  .aspect-ratio-wrapper(matCardImage)
    .aspect-ratio-content
      img.stream-preview([src]="channelInfoClient.PreviewUri || channelInfoClient.LogoUri")

  mat-card-content
    ul.list-unstyled
      li #[span.text-muted Game:] {{channelInfoClient.CurrentGame.Name}}
      li #[span.text-muted Status:] {{channelInfoClient.Status}}
