mat-card
  mat-card-header
    mat-icon(matCardAvatar) queue_play_next
    mat-card-title Hosters
    mat-card-subtitle {{hostersClient.count}}

  mat-card-content
    ul.list-unstyled
      li.text-muted(*ngIf="hostersClient.count == 0") No hosters
      li.router-link(*ngFor="let viewer of hostersClient.hosters | arrayPageSlice:matPageEvent", [routerLink]="viewer.Username | editUserLink")
        user-display([user]="viewer")

  mat-card-actions(*ngIf="hostersClient.count > 10")
    mat-paginator.hide-items-label([length]="hostersClient.count", pageSize="10", (page)="matPageEvent = $event")
