
<mat-card>
  <mat-card-header>
    <mat-icon matCardAvatar>queue_play_next</mat-icon>
    <mat-card-title>Hosters</mat-card-title>
    <mat-card-subtitle>{{hostersClient.count}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <ul class="list-unstyled">
      <li class="text-muted" *ngIf="hostersClient.count == 0">No hosters</li>
      <li class="router-link" *ngFor="let viewer of hostersClient.hosters | arrayPageSlice:matPageEvent" [routerLink]="viewer.Username | editUserLink">
        <user-display [user]="viewer"></user-display>
      </li>
    </ul>
  </mat-card-content>
  <mat-card-actions *ngIf="hostersClient.count &gt; 10">
    <mat-paginator class="hide-items-label" [length]="hostersClient.count" pageSize="10" (page)="matPageEvent = $event"></mat-paginator>
  </mat-card-actions>
</mat-card>