mat-card
  mat-card-header
    mat-icon(matCardAvatar) queue_play_next
    mat-card-title Hosters
    mat-card-subtitle {{channelInfoClient.HosterCount}}

  mat-card-content
    ul.list-unstyled
      li.text-muted(*ngIf="channelInfoClient.HosterCount == 0") No hosters
      li.router-link(*ngFor="let viewer of channelInfoClient.Hosters | arrayPageSlice:matPageEvent", [routerLink]="viewer.Username | editUserLink")
        span([ngClass]="{'text-primary':viewer.Caster, 'text-secondary':viewer.Moderator}") {{viewer.DisplayName}}

  mat-card-actions(*ngIf="channelInfoClient.HosterCount > 10")
    mat-paginator.hide-items-label([length]="channelInfoClient.HosterCount", pageSize="10", (page)="matPageEvent = $event")
