p Check out and edit user greetings or set up user greetings

.columns
  .col.span-8-of-12
    data-table(tableId="user-greetings", [dataSource]="dataSource", [filterMapping]="tableFilterMapping", [exportConfig]="exportConfig")
      ng-container(columnDef="User")
        header-cell(*headerCellDef="", sortProperty="User.Username", [sortDefault]="'ASC'") Username
        data-cell(*dataCellDef="let record")
          user-display([user]="record.User")

      ng-container(columnDef="Message")
        header-cell(*headerCellDef="", sortProperty="Message") Message
        data-cell(*dataCellDef="let record") {{record.Message}}

      ng-container(columnDef="#Actions", [buttonsColumn]="1")
        header-cell(*headerCellDef="") &nbsp;
        data-cell(*dataCellDef="let record")
          a.mat-icon-button.pull-right(mat-button, (click)="editUserGreeting(record)", matTooltip="Edit greeting")
            mat-icon edit

  .col.span-4-of-12
    form(#greetingsSettingsForm="", (submit)="saveSettings()")
      mat-card
        mat-card-header
          mat-card-title Greeting Settings
          mat-card-subtitle &nbsp;

        mat-card-content

          mat-slide-toggle([formControl]="enableGreetingsControl") Enable greetings

          mat-form-field(*ngIf="enableGreetingsControl.value")
            input#greeting-timeout(matInput, type="number", name="greeting-timeout", placeholder="Greeting Timout",
            required, [formControl]="greetingTimeoutControl")
            mat-hint.
              This is the timeout applied to greetings, such that Biliomi will not greet a viewer when he/she rejoins the chat
              within that period. (Twitch can be very twitchy on reporting current viewers, optimally set this to a bit more than your average stream length).
              ({{greetingTimeoutControl.value | time}})
            mat-error(*ngIf="greetingTimeoutControl.hasError('required')") This field is required!
            mat-error(*ngIf="greetingTimeoutControl.hasError('min')") Negative time is impossible!

        mat-card-actions
        save-button([disabled]="!isFormOk", [stateEmitter]="_greetingSettingsClient.afterSave", (click)="saveSettings()")
        button(mat-button, type="button", (click)="ngOnInit()", matTooltip="Refresh data")
          mat-icon refresh
