mat-tab-group
  mat-tab(label="General Settings")
    .columns
      .col.span-6-of-12
        chat-settings-component
        time-tracking-settings-component
      .col.span-6-of-12
        points-settings-component
  mat-tab(label="Templates")
    template-settings-component
