mat-grid-list(cols="2", rowHeight="fit", gutterSize="1em")
  mat-grid-tile([colspan]="1")
    chat-settings-component
    time-tracking-settings-component
    points-settings-component
  mat-grid-tile([colspan]="1")

