
<form>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Points Settings</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <!-- Points names-->
      <mat-form-field>
        <input id="points-settings-points-name-singular" matInput name="points-settings-points-name-singular" placeholder="Singular Pointsname" required [formControl]="pointsNameSingularControl"/>
        <mat-hint>The points name for singular amounts.</mat-hint>
        <mat-error *ngIf="pointsNameSingularControl.hasError('required')">This field is required!</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input id="points-settings-points-name-plural" matInput name="points-settings-points-name-plural" placeholder="Plural Pointsname" required [formControl]="pointsNamePluralControl"/>
        <mat-hint>The points name for plural amounts.</mat-hint>
        <mat-error *ngIf="pointsNamePluralControl.hasError('required')">This field is required!</mat-error>
      </mat-form-field>
      <hr/>
      <!-- Online payouts-->
      <mat-slide-toggle [formControl]="trackOnlineControl">Payout when stream is online</mat-slide-toggle>
      <mat-form-field *ngIf="trackOnlineControl.value">
        <input id="points-settings-online-payout-interval" matInput type="number" name="points-settings-online-payout-interval" placeholder="Online Payout Interval" required [formControl]="onlinePayoutIntervalControl"/>
        <mat-hint>The payout interval when the stream is online in milliseconds.</mat-hint>
        <mat-error *ngIf="onlinePayoutIntervalControl.hasError('required')">This field is required!</mat-error>
        <mat-error *ngIf="onlinePayoutIntervalControl.hasError('min')">Please enter a valid amount (min 60000 = 1 minute).</mat-error>
      </mat-form-field>
      <mat-form-field *ngIf="trackOnlineControl.value">
        <input id="points-settings-online-payout-amount" matInput type="number" name="points-settings-online-payout-amount" placeholder="Online Payout Amount" required [formControl]="onlinePayoutAmountControl"/>
        <mat-hint>The payout amount when the stream is online.</mat-hint>
        <mat-error *ngIf="onlinePayoutAmountControl.hasError('required')">This field is required!</mat-error>
        <mat-error *ngIf="onlinePayoutAmountControl.hasError('min')">Please enter a valid amount (above 0).</mat-error>
      </mat-form-field>
      <hr/>
      <!-- Offline payouts-->
      <mat-slide-toggle [formControl]="trackOfflineControl">Payout when stream is offline</mat-slide-toggle>
      <mat-form-field *ngIf="trackOfflineControl.value">
        <input id="points-settings-offline-payout-interval" matInput type="number" name="points-settings-offline-payout-interval" placeholder="Offline Payout Interval" required [formControl]="offlinePayoutIntervalControl"/>
        <mat-hint>The payout interval when the stream is offline in milliseconds.</mat-hint>
        <mat-error *ngIf="offlinePayoutIntervalControl.hasError('required')">This field is required!</mat-error>
        <mat-error *ngIf="offlinePayoutIntervalControl.hasError('min')">Please enter a valid amount (min 60000 = 1 minute).</mat-error>
      </mat-form-field>
      <mat-form-field *ngIf="trackOfflineControl.value">
        <input id="points-settings-offline-payout-amount" matInput type="number" name="points-settings-offline-payout-amount" placeholder="Offline Payout Amount" required [formControl]="offlinePayoutAmountControl"/>
        <mat-hint>The payout amount when the stream is offline.</mat-hint>
        <mat-error *ngIf="offlinePayoutAmountControl.hasError('required')">This field is required!</mat-error>
        <mat-error *ngIf="offlinePayoutAmountControl.hasError('min')">Please enter a valid amount (above 0).</mat-error>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" [disabled]="!isFormOk" [actionButton]="save.bind(this)">
        <mat-icon>done</mat-icon>
      </button>
      <button mat-button type="button" (click)="ngOnInit()" matTooltip="Refresh data">
        <mat-icon>refresh</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</form>