form(#timeTrackingSettingsEditForm="", (submit)="save()")
  mat-card
    mat-card-header
      mat-card-title Time Tracking Settings

    mat-card-content
      mat-checkbox([formControl]="trackOnlineTimeControl") Track Online Time

      mat-checkbox([formControl]="trackOfflineTimeControl") Track Offline Time

    mat-card-actions
      button(mat-raised-button, color="primary", title="Save")
        mat-icon done
      button(mat-button, type="button", (click)="ngOnInit()", title="Refresh data")
        mat-icon refresh
