p Default commands are pre-defined commands for interaction with Biliomi.

data-table(tableId="system-commands", [dataSource]="dataSource", [exportConfig]="exportConfig", [filterMapping]="tableFilterMapping")
  ng-container(columnDef="Command")
    header-cell(*headerCellDef="", sortProperty="Command", [sortDefault]="'ASC'") Command
    data-cell(*dataCellDef="let command")
      | &#33;{{command.Command}}

  ng-container(columnDef="System Command")
    header-cell(*headerCellDef="", sortProperty="SystemCommand") System Command
    data-cell(*dataCellDef="let command")
      | {{command.SystemCommand | boolean}}
      small.text-muted(*ngIf="command.ModeratorCanAlwaysActivate") #[br]Moderators can use this command as well.

  ng-container(columnDef="User Group")
    header-cell(*headerCellDef="", sortProperty="UserGroup.Name") Group
    data-cell(*dataCellDef="let command")
      span(*ngIf="!command.SystemCommand") {{command.UserGroup.Name}}

  ng-container(columnDef="Cooldown")
    header-cell(*headerCellDef="", sortProperty="Cooldown") Cooldown
    data-cell(*dataCellDef="let command")
      | {{command.Cooldown | time}}

  ng-container(columnDef="Price")
    header-cell(*headerCellDef="", sortProperty="Price") Price
    data-cell(*dataCellDef="let command")
      | {{command.Price | points | async}}

  ng-container(columnDef="Aliasses")
    header-cell(*headerCellDef="") Aliasses
    data-cell(*dataCellDef="let command")
      ul.list-unstyled
        li(*ngFor="let alias of command.Aliasses") &#33;{{alias}}

  ng-container(columnDef="#Edit", [buttonsColumn]="1")
    header-cell(*headerCellDef="")
    data-cell(*dataCellDef="let command")
      a.mat-icon-button.pull-right(mat-button, (click)="editCommand(command)", matTooltip="Edit command")
        mat-icon edit
