form(#editGameForm="", (submit)="save()")
  h2(matDialogTitle)
    span(*ngIf="!editedGame?.Name") New game
    span(*ngIf="editedGame?.Name") Editing game: {{editedGame.Name}}

  mat-dialog-content
    mat-spinner(*ngIf="editedGame == undefined")

    mat-form-field
      input#game-name(matInput, name="game-name", placeholder="Title", required="true",
      [formControl]="gameNameControl")
      mat-hint The game title.
      mat-error(*ngIf="gameNameControl.hasError('required')") This field is required!

    mat-form-field
      input#game-first-played-on(matInput, name="game-first-played-on", placeholder="First Played On", required="true",
      [formControl]="firstPlayedOnControl", [matDatepicker]="picker")
      mat-datepicker-toggle(matSuffix, [for]="picker")
      mat-datepicker(#picker="", [disabled]="false")
      mat-hint The first time you played this game.
      mat-error(*ngIf="firstPlayedOnControl.hasError('required')") This field is required!

    mat-form-field
      input#game-steam-id(matInput, name="game-steam-id", placeholder="Steam Id", type="number",
      [formControl]="steamIdControl")
      mat-hint The Steam Id for this game

    community-chip-list(#communitiesControl="", placeholder="Automatic Communities")
      | Select up to 3 communities to set on your channel when you set this game via Biliomi.

  mat-dialog-actions
    button(mat-raised-button, color="primary", [disabled]="!isFormOk", title="Save")
      mat-icon done
    button(mat-raised-button, type="button", color="warn", (click)="cancelEdit()", title="Cancel edit")
      mat-icon arrow_back
    button(mat-button, type="button", (click)="initFields()", title="Refresh data")
      mat-icon backspace
    //button(mat-button, type="button", (click)="deleteCommand()", [disabled]="editedCommand?.Id == undefined", title="Delete command")
    //  mat-icon delete_forever
