p Biliomi uses user groups in order to apply execution rights on commands.#[br]
  small.text-muted.
    It does so by group weights, if the users's group weight is lower than a command's weight
    the user will be authorized to execute the command.

data-table(tableId="user-groups", [tableDataSource]="groupsDataSource", [exportConfig]="exportConfig")
  ng-template(tableButtons)
    table-filter-query([filterMapping]="tableFilterMapping")

  ng-template(tableButtons)
    button(mat-icon-button, (click)="editGroup()", title="Add new group")
      mat-icon add

  ng-container(matColumnDef="Name")
    mat-header-cell(*matHeaderCellDef="", sortHeader="Name") Name
    mat-cell(*matCellDef="let group")
      | {{group.Name}}
      small.text-muted(*ngIf="group.DefaultGroup") &nbsp;(Default group)

  ng-container(matColumnDef="Default")
    mat-header-cell(*matHeaderCellDef="", sortHeader="DefaultGroup", [sortByDefault]="'DESC'", [doInitialUpdate]="false") Default
    mat-cell(*matCellDef="let group")
      | {{group.DefaultGroup | boolean}}

  ng-container(matColumnDef="Weight")
    mat-header-cell(*matHeaderCellDef="", sortHeader="Weight", [sortByDefault]="'ASC'") Weight
    mat-cell(*matCellDef="let group")
      | {{group.Weight}}

  ng-container(matColumnDef="LevelUpHours")
    mat-header-cell(*matHeaderCellDef="", sortHeader="LevelUpHours") Level Up Hours
    mat-cell(*matCellDef="let group")
      span(*ngIf="group.LevelUpHours == null") n.a.
      span(*ngIf="group.LevelUpHours > 0") {{group.LevelUpHours | time:false:true:true}}

  ng-container(matColumnDef="#Edit")
    mat-header-cell(*matHeaderCellDef="")
    mat-cell(*matCellDef="let group")
      a.mat-icon-button.pull-right(mat-button, (click)="editGroup(group)", title="Edit group", [disabled]="group.DefaultGroup")
        mat-icon edit
