p Biliomi uses user groups in order to apply execution rights on commands.#[br]
  small.text-muted.
    It does so by group weights, if the users's group weight is lower than a command's weight
    the user will be authorized to execute the command.

data-table(tableId="user-groups", [dataSource]="groupsDataSource", [exportConfig]="exportConfig", [filterMapping]="tableFilterMapping")
  ng-template(customTableActions)
    button(mat-icon-button, (click)="editGroup()", title="Add new group")
      mat-icon add

  ng-container(columnDef="Name")
    header-cell(*headerCellDef="", sortProperty="Name") Name
    data-cell(*dataCellDef="let group")
      | {{group.Name}}
      small.text-muted(*ngIf="group.DefaultGroup") &nbsp;(Default group)

  ng-container(columnDef="Default")
    header-cell(*headerCellDef="", sortProperty="DefaultGroup", [sortDefault]="'DESC'") Default
    data-cell(*dataCellDef="let group")
      | {{group.DefaultGroup | boolean}}

  ng-container(columnDef="Weight")
    header-cell(*headerCellDef="", sortProperty="Weight", [sortDefault]="'ASC'") Weight
    data-cell(*dataCellDef="let group")
      | {{group.Weight}}

  ng-container(columnDef="LevelUpHours")
    header-cell(*headerCellDef="", sortProperty="LevelUpHours") Level Up Hours
    data-cell(*dataCellDef="let group")
      span(*ngIf="group.LevelUpHours == null") n.a.
      span(*ngIf="group.LevelUpHours > 0") {{group.LevelUpHours | time:false:true:true}}

  ng-container(columnDef="#Edit", [buttonsColumn]="1")
    header-cell(*headerCellDef="")
    data-cell(*dataCellDef="let group")
      a.mat-icon-button.pull-right(mat-button, (click)="editGroup(group)", title="Edit group", [disabled]="group.DefaultGroup")
        mat-icon edit
