// Angular Material Theme
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

// Customization overrides
@import "customization/ng-material";

// Pages
@import "pages/login";

body {
  padding: 0;
  margin: 0;
}

.biliomi-app-avatar {
  background-image: url("../images/biliomi-icon-cropped-small.gif");
  background-size: cover;
}
