form#login-form((submit)="submitCredentials()")
  mat-card
    mat-card-header
      div.biliomi-app-avatar(matCardAvatar)
      mat-card-title Login
      mat-card-subtitle Biliomi

    mat-card-content
      mat-form-field
        input#login-username(matInput, name="login-username", placeholder="Username", required="true",
        [formControl]="usernameControl", [errorStateMatcher]="fieldMatcher")
        mat-hint This should be your Twitch username.
        mat-error(*ngIf="usernameControl.hasError('required')") Please enter your username.
        mat-error(*ngIf="usernameControl.hasError('invalidEntry')") Username invalid, try again.

      mat-form-field
        input#login-password(matInput, name="login-password", placeholder="Password", type="password", required="true",
        [formControl]="passwordControl", [errorStateMatcher]="fieldMatcher", [type]="show ? 'text' : 'password'")
        mat-icon(matSuffix (click)="show = !show") {{show ? 'visibility_off' : 'visibility'}}
        mat-hint You can set a password via Biliomi's console. Check Biliomi's wiki for more info.
        mat-error(*ngIf="passwordControl.hasError('required')") Please enter your password.
        mat-error(*ngIf="passwordControl.hasError('invalidEntry')") Password incorrect, try again.

    mat-card-actions
      button(mat-raised-button, color="primary", [disabled]="!formOk") Login
