
<form id="login-form" (submit)="submitCredentials()">
  <mat-card>
    <mat-card-header>
      <div class="biliomi-app-avatar" matCardAvatar></div>
      <mat-card-title>Login</mat-card-title>
      <mat-card-subtitle>Biliomi</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field>
        <input id="login-username" matInput name="login-username" placeholder="Username" required [formControl]="usernameControl"/>
        <mat-hint>This should be your Twitch username.</mat-hint>
        <mat-error *ngIf="usernameControl.hasError('required')">This field is required!</mat-error>
        <mat-error *ngIf="usernameControl.hasError('invalidEntry')">Username invalid, try again.</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input id="login-password" matInput name="login-password" placeholder="Password" type="password" required [formControl]="passwordControl" [type]="show ? 'text' : 'password'"/>
        <mat-icon matSuffix (click)="show = !show">{{show ? 'visibility_off' : 'visibility'}}</mat-icon>
        <mat-hint>You can set a password via Biliomi's console. Check Biliomi's wiki for more info.</mat-hint>
        <mat-error *ngIf="passwordControl.hasError('required')">This field is required!</mat-error>
        <mat-error *ngIf="passwordControl.hasError('invalidEntry')">Password incorrect, try again.</mat-error>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" [disabled]="!isFormOk">Login</button>
    </mat-card-actions>
  </mat-card>
</form>