form(#editGreetingForm="", (submit)="save()")
  h2(matDialogTitle, *ngIf="editedGreeting != undefined") Editing greeting for {{editedGreeting?.User.DisplayName}}

  mat-dialog-content
    mat-spinner(*ngIf="editedGreeting == undefined")

    mat-form-field
      input#greeting-message(matInput, name="greeting-message", placeholder="message", required, [formControl]="greetingControl")
      mat-hint The message which will be posted in the chat when Biliomi registers {{editedGreeting?.User.DisplayName}} as a viewer.
      mat-error(*ngIf="greetingControl.hasError('required')") This field is required!

  mat-dialog-actions
    button(mat-raised-button, color="primary", [disabled]="!isFormOk", matTooltip="Save")
      mat-icon done
    button(mat-raised-button, type="button", color="warn", (click)="cancelEdit()", matTooltip="Cancel edit")
      mat-icon arrow_back
    button(mat-button, type="button", (click)="initFields()", matTooltip="Refresh data")
      mat-icon backspace
    button(mat-button, type="button", (click)="deleteCommand()", [disabled]="editedCommand?.Id == undefined", matTooltip="Delete command")
      mat-icon delete_forever