p Biliomi keeps a record of moderation actions performed by the chat moderator.

data-table(tableId="chatmoderator-records", [dataSource]="recordsDataSource", [exportConfig]="exportConfig", [filterMapping]="tableFilterMapping")
  ng-container(columnDef="User")
    header-cell(*headerCellDef="", sortProperty="User.Username") Username
    data-cell(*dataCellDef="let record")
      user-display([user]="record.User")

  ng-container(columnDef="Date")
    header-cell(*headerCellDef="", sortProperty="Date", [sortDefault]="'DESC'") Date
    data-cell(*dataCellDef="let record")
      | {{record.Date | date}}

  ng-container(columnDef="Action")
    header-cell(*headerCellDef="", sortProperty="Action") Action
    data-cell(*dataCellDef="let record")
      | {{record.Action | caseToWord:"ENUM"}}

  ng-container(columnDef="Reason")
    header-cell(*headerCellDef="", sortProperty="Reason") Reason
    data-cell(*dataCellDef="let record")
      | {{record.Reason| caseToWord:"ENUM"}}

  ng-container(columnDef="Message")
    header-cell(*headerCellDef="", sortProperty="Message") Message
    data-cell(*dataCellDef="let record")
      | {{record.Message | trim:50}}

  ng-container(columnDef="#Actions", [buttonsColumn]="1")
    header-cell(*headerCellDef="")
    data-cell(*dataCellDef="let record")
      a.mat-icon-button.pull-right(mat-button, color="warn", (click)="deleteRecord(record)", matTooltip="Delete Record")
        mat-icon delete_forever
