.mat-button-row.pull-right
  button.pull-right(mat-mini-fab, color="primary", (click)="exportCommands()", title="Export to Excel")
    mat-icon cloud_download
  button(mat-mini-fab, color="primary", (click)="ngOnInit()", title="Refresh")
    mat-icon refresh

p Default commands are pre-defined commands for interaction with Biliomi.

mat-progress-bar(*ngIf="!dataSource.isInitialized", mode="indeterminate")

.mat-elevation-z8
  mat-table(*ngIf="dataSource.isInitialized", #table="", [dataSource]="dataSource")
    ng-container(matColumnDef="Command")
      mat-header-cell(*matHeaderCellDef="") Command
      mat-cell(*matCellDef="let command")
        | &#33;{{command.Command}}

    ng-container(matColumnDef="Attributes")
      mat-header-cell(*matHeaderCellDef="") Attributes
      mat-cell(*matCellDef="let command")
        command-attributes([command]="command")

    ng-container(matColumnDef="Aliasses")
      mat-header-cell(*matHeaderCellDef="") Aliasses
      mat-cell(*matCellDef="let command")
        ul.list-unstyled
          li(*ngFor="let alias of command.Aliasses") &#33;{{alias}}

    ng-container(matColumnDef="Edit")
      mat-header-cell(*matHeaderCellDef="")
      mat-cell(*matCellDef="let command")
        a.mat-icon-button.pull-right(mat-button, (click)="editCommand(command)", title="Edit command")
          mat-icon edit

    mat-header-row(*matHeaderRowDef="['Command', 'Attributes', 'Aliasses', 'Edit']")
    mat-row(*matRowDef="let row; columns: ['Command', 'Attributes', 'Aliasses', 'Edit'];")

  mat-paginator(#paginator="", [pageSize]="10", [pageSizeOptions]="[5, 10, 20, 50]")
