mat-sidenav-container
  mat-toolbar(color="primary")
    mat-toolbar-row
      a.mat-icon-button(mat-button, (click)="sideNav.toggle()", matTooltip="Toggle menu")
        mat-icon menu
      a.mat-icon-button(mat-button, routerLink="/dash/home", matTooltip="Go to Home")
        mat-icon home
      span.spacer
      nav-channel-info-component
      .flex-spacer
      a.mat-icon-button(mat-button, (click)="toggleDisplayTwitchChat()", matTooltip="Toggle Chat")
        mat-icon(*ngIf="displayTwitchChat") chat
        mat-icon(*ngIf="!displayTwitchChat") chat_bubble_outline
      nav-remote-management-component
      nav-auth-bar-component

  bread-crumbs-component
  page-loading-bar

  .main-content-wrapper.columns
    #content-column.content-column([ngClass]="{'full-width': !displayTwitchChat}")
      router-outlet
    #chat-column.content-column(*ngIf="displayTwitchChat")
      chat-component

  mat-sidenav(#sideNav="")
    nav
      h3 Biliomi
      ul
        li: a(routerLink="/dash/home") Dash
        li: a(routerLink="/dash/commands") Commands

      h3 System
      ul
        li: a(routerLink="/dash/system/users") Users
        li: a(routerLink="/dash/system/system-settings") System Settings
        li: a(routerLink="/dash/system/game-register") Games

      h3 Chat
      ul
        li: a(routerLink="/dash/chat/followers") Followers
        li: a(routerLink="/dash/chat/subscribers") Subscribers
        li: a(routerLink="/dash/chat/hosts") Hosts
        li: a(routerLink="/dash/chat/chat-moderator") Chat Moderator
