mat-sidenav-container
  nav.app-navbar.mat-elevation-z6
    a.mat-icon-button(mat-button, (click)="sideNav.toggle()", title="Toggle menu")
      mat-icon menu
    nav-channel-info-component
    nav-follower-stats-component
    nav-auth-bar-component.app-navbar-right
    nav-remote-management-component.app-navbar-right

  .main-content-wrapper.columns
    #content-column.content-column
      router-outlet
    #chat-column.content-column
      | Chat

  mat-sidenav(#sideNav="")
    nav
      h3 Biliomi
      ul
        li: a(routerLink="/dash/home", [routerLinkActiveOptions]="{exact: true}", routerLinkActive="active") Dash
        li: a(routerLink="/dash/settings", [routerLinkActiveOptions]="{exact: true}", routerLinkActive="active") Settings
