mat-sidenav-container
  mat-toolbar(color="primary")
    mat-toolbar-row
      a.mat-icon-button(mat-button, (click)="sideNav.toggle()", title="Toggle menu")
        mat-icon menu
      a.mat-icon-button(mat-button, routerLink="/dash/home", title="Go to Home")
        mat-icon home
      nav-channel-info-component
      nav-follower-stats-component
      .flex-spacer
      nav-remote-management-component
      nav-auth-bar-component

  .main-content-wrapper.columns
    #content-column.content-column
      router-outlet
    #chat-column.content-column
      //chat-component

  mat-sidenav(#sideNav="")
    nav
      h3 Biliomi
      ul
        li: a(routerLink="/dash/home") Dash
        li: a(routerLink="/dash/commands") Commands
