// Angular Material Theme
@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";

mat-card, mat-expansion-panel {
  margin-bottom: 1.2% !important;
}

mat-form-field {
  width: 100%;
  margin: 1em 0;

  mat-icon {
    cursor: pointer;
    user-select: none;
  }
}

mat-icon {
  &.mat-icon-inline {
    font-size: 14px;
    width: 14px;
    height: 14px;
  }

  &.mat-card-avatar {
    font-size: 40px;
    width: 40px;
    height: 40px;
  }
}

mat-paginator {
  &.hide-items-label .mat-paginator-page-size {
    display: none;
  }
}

.mat-button-row {
  margin-top: 1em;

  .mat-button, .mat-raised-button {
    margin-right: .5em;
  }
}

.mat-toolbar {
  // The mat-toolbar for some reason gets a lineheight of 32px, this propagates to all content, which breaks style.
  // This rule resets this behaviour
  font: inherit;

  h1, h2, h3, h4, h5, h6 {
    font: inherit;
  }
}

mat-cell {
  // Mat cell has overflow hidden, breaking mat-button styles
  overflow: visible !important;
}

mat-spinner {
  margin: .5em auto 0;
}
