nav(mat-tab-nav-bar)
  a(mat-tab-link, *ngFor="let child of childRoutes", [routerLink]="child.path", routerLinkActive #rla="routerLinkActive", [active] = "rla.isActive") {{child.data.displayName}}

router-outlet
