p Manage games known by Biliomi

data-table(tableId="game-register", [dataSource]="gamesDataSource", [exportConfig]="exportConfig", [filterMapping]="tableFilterMapping")
  ng-template(customTableActions)
    button(mat-icon-button, (click)="editGame()", matTooltip="Add new game")
      mat-icon add

  ng-container(columnDef="Title")
    header-cell(*headerCellDef="", sortProperty="Name", [sortDefault]="'ASC'") Title
    data-cell(*dataCellDef="let game")
      | {{game.Name}}

  ng-container(columnDef="First Played")
    header-cell(*headerCellDef="", sortProperty="FirstPlayedOn") First Played
    data-cell(*dataCellDef="let game")
      | {{game.FirstPlayedOn | date}}

  ng-container(columnDef="Steam Id")
    header-cell(*headerCellDef="", sortProperty="SteamId") Steam Id
    data-cell(*dataCellDef="let game")
      | {{game.SteamId}}

  ng-container(columnDef="Communities")
    header-cell(*headerCellDef="") Communities
    data-cell(*dataCellDef="let game")
      ul.list-unstyled
        li(*ngFor="let community of game.Communities | objectSort:'Name'")
          | {{community.Name}}
          small.text-muted &nbsp;by&nbsp;
          user-display([user]="community.Owner")

  ng-container(columnDef="#Actions", [buttonsColumn]="2")
    header-cell(*headerCellDef="")
    data-cell(*dataCellDef="let game")
      a.mat-icon-button.pull-right(mat-button, (click)="editGame(game)", matTooltip="Edit game")
        mat-icon edit
      a.mat-icon-button.pull-right(mat-button, (click)="setAsCurrentGame(game)", matTooltip="Set as current game")
        mat-icon videogame_asset
