form(#templateEditForm="", (submit)="save()")
  h2(matDialogTitle) Editing template: {{editedTemplate?.TemplateKey | caseToWord:"TITLE_CASE"}}

  mat-dialog-content
    p {{editedTemplate?.Description}}

    mat-form-field
      textarea#template-template(matInput, name="template-template", placeholder="Template",
      [formControl]="templateControl", rows="4", (keyup)="templateFieldOnKeyUp($event)")
      mat-hint The template contents

    mat-card(*ngIf="templateKeys != undefined")
      mat-card-header
        mat-card-title Replacements:
        mat-card-subtitle: small Press the ALT combination while in the template field to insert the replacement at the caret.
      mat-card-content
        ul.list-unstyled.spaced-lines
          li(*ngFor="let key of templateKeys.keysWithBrackets; let n = index")
            | {{key}} #[small.text-muted ALT + {{n + 1}}]
            br
            small.text-muted {{templateKeys.getDescription(key)}}.

  mat-dialog-actions
    button(mat-raised-button, color="primary", matTooltip="Save")
      mat-icon done
    button(mat-raised-button, type="button", color="warn", (click)="cancelEdit()", matTooltip="Cancel edit")
      mat-icon arrow_back
    button(mat-button, type="button", (click)="initFields()", matTooltip="Refresh data")
      mat-icon refresh
