
<form #userGroupEditForm (submit)="save()">
  <h2 matDialogTitle><span *ngIf="!editedGroup?.Name">New group</span><span *ngIf="editedGroup?.Name">Editing group: {{editedGroup?.Name}}</span></h2>
  <mat-dialog-content>
    <mat-spinner *ngIf="editedGroup == undefined"></mat-spinner>
    <mat-form-field>
      <input id="group-name" matInput name="group-name" placeholder="Name" required [formControl]="groupNameControl"/>
      <mat-hint>A unique name for this group,</mat-hint>
      <mat-error *ngIf="groupNameControl.hasError('required')">This field is required!</mat-error>
      <mat-error *ngIf="groupNameControl.hasError('pattern')">Please only user alphabetic characters without spaces!</mat-error>
    </mat-form-field>
    <mat-form-field *ngIf="editedGroup?.Weight &gt;= 10">
      <mat-select id="group-weight" name="group-weight" placeholder="Weight" required [formControl]="weightControl" ngDefaultControl>
        <mat-option *ngFor="let weight of 1000 | numberArray:10" [value]="weight">{{weight}}</mat-option>
      </mat-select>
      <mat-hint>The group weight, higher values mean more restriction.</mat-hint>
      <mat-error *ngIf="weightControl.hasError('required')">This field is required!</mat-error>
      <mat-error *ngIf="weightControl.hasError('min')">Please enter a valid amount (greater than or equal to 10).</mat-error>
      <mat-error *ngIf="weightControl.hasError('max')">Please enter a valid amount (lesser than or equal to 1000).</mat-error>
    </mat-form-field>
    <mat-form-field *ngIf="editedGroup?.Weight &gt;= 10">
      <input id="group-level-up-hours" matInput type="number" name="group-level-up-hours" placeholder="Level Up Hours" [formControl]="levelUpHoursControl"/>
      <mat-hint>The amount of hours a user has to be in the channel to automatically get this group assigned, if the user's current group is lower.</mat-hint>
      <mat-error *ngIf="levelUpHoursControl.hasError('min')">Please enter a valid amount (empty or greater than 0).</mat-error>
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-raised-button color="primary" [disabled]="!isFormOk" matTooltip="Save">
      <mat-icon>done</mat-icon>
    </button>
    <button mat-raised-button type="button" color="warn" (click)="cancelEdit()" matTooltip="Cancel edit">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <button mat-button type="button" (click)="initFields()" matTooltip="Refresh data">
      <mat-icon>refresh</mat-icon>
    </button>
  </mat-dialog-actions>
</form>