.columns
  .col.span-5-of-12
    channel-info-component
    channel-edit-component

  .col.span-7-of-12
    .columns
      .col.span-6-of-12
        chatter-list-component
        quick-actions
      .col.span-6-of-12
        hoster-list-component
        clock-card-component
