.columns
  .col.span-5-of-12
    channel-info-component
    channel-edit-component

  .col.span-7-of-12
    .columns
      .col.span-6-of-12
        chatter-list-component
      .col.span-6-of-12
        hoster-list-component

    .columns
      .col.span-8-of-12
        quick-actions
      .col.span-4-of-12.hide-on-break
        clock-card-component
