.columns
  .col.span-6-of-12
    channel-info-component
    channel-edit-component

  .col.span-6-of-12
    .columns
      .col.span-6-of-12
        chatter-list-component
        hoster-list-component

      .col.span-6-of-12
        clock-card-component

    quick-actions
