.columns
  .col.span-6-of-12
    channel-info-component
    channel-edit-component
  .col.span-3-of-12
    chatter-list-component
    hoster-list-component
  .col.span-3-of-12.hide-on-break
    clock-card-component
