a.mat-button(mat-button, [href]="authService.channelName | twitchUserLink", title="Go to Twitch.tv", target="_blank") Hi {{authService.username}}
a.mat-icon-button(mat-button, (click)="authService.logout()", title="Log out of the web panel")
  mat-icon exit_to_app

