a.mat-button(mat-button)
  mat-icon.pad-right.text-muted(*ngIf="!channelInfoClient.IsOnline") cast
  mat-icon.pad-right.text-ok(*ngIf="channelInfoClient.IsOnline") cast_connected
  | {{channelInfoClient.ChannelName}} #[small ({{channelInfoClient.CurrentGame.Name}})]
