@import "../../../style/toolkit/swatches";

nav-follower-stats-component {
  .badge {
    display: inline-block;
    margin-left: -0.6em;
    background-color: #666666;
    line-height: 1.2em;
    border-radius: 1.2em;
    border: 3px solid #c2185b;
    padding: 0 .4em;
  }
}
