a.mat-button(mat-button, (click)="viewFollowerStats()")
  span(title="Viewers in chat")
    mat-icon.text-ok chat
    .badge {{channelInfoClient.Viewers.length}}
  span.spacer
  span(title="Followers")
    mat-icon.text-not-ok favorite
    .badge {{channelInfoClient.FollowerCount}}
  span.spacer
  span(*ngIf="channelInfoClient.Affiliate", title="Subscribers")
    mat-icon.text-ok attach_money
    .badge {{channelInfoClient.SubscriberCount}}
