a.mat-icon-button(mat-button, (click)="openMgmtDialog()", )
  mat-icon(*ngIf="eventsService.isConnected", title="Remote management") settings_power
  mat-icon(*ngIf="eventsService.isConnecting", title="Connecting to Biliomi") wifi
  mat-icon(*ngIf="!eventsService.isConnected && !eventsService.isConnecting", title="Biliomi's seems to not be available, try reloading") warning
