h2(matDialogTitle) Manage

mat-dialog-content
  p Restart or shutdown Biliomi.

mat-dialog-actions
  button(mat-raised-button, (click)="restartBiliomi()", matTooltip="Restart Biliomi")
    mat-icon refresh
  button(mat-raised-button, (click)="shutdownBiliomi()", matTooltip="Shut down Biliomi")
    mat-icon power_settings_new
  button(mat-raised-button, color="warn", (click)="close()", matTooltip="Cancel")
    mat-icon arrow_back
