mat-spinner(*ngIf="user == undefined")

div(*ngIf="user != undefined")
  h2 {{user?.DisplayName}}
    small.text-muted(*ngIf="isCurrentUser") &nbsp;(You)

  .columns
    .col.span-4-of-12
      ul.list-unstyled
        li.text-primary(*ngIf="user.Caster") Channel Owner
        li.text-secondary(*ngIf="user.Moderator") Moderator
        li(*ngIf="user.Follower") Follower since {{user.FollowDate | date}}
        li(*ngIf="user.Subscriber") Subscriber since {{user.SubscribeDate | date}}
        li Points: {{user.Points | points | async}}
        li Records time: {{user.RecordedTime | time}}

      user-base-information([user]="user")
    .col.span-8-of-12
      route-tabs([routes]="childRoutes", [relativeTo]="_activatedRoute")

