data-table(tableId="users-overview", [tableDataSource]="dataSource", [exportConfig]="exportConfig")
  ng-container(matColumnDef="Username")
    mat-header-cell(*matHeaderCellDef="") Username
    mat-cell(*matCellDef="let user", [ngClass]="{'text-not-ok': user.BlacklistedSince != undefined}")
      | {{user.DisplayName}}

  ng-container(matColumnDef="UserGroup")
    mat-header-cell(*matHeaderCellDef="") Group
    mat-cell(*matCellDef="let user")
      | {{user.UserGroup.Name}}

  ng-container(matColumnDef="RecordedTime")
    mat-header-cell(*matHeaderCellDef="") Recorded time
    mat-cell(*matCellDef="let user")
      | {{user.RecordedTime | time:false:true}}

  ng-container(matColumnDef="Points")
    mat-header-cell(*matHeaderCellDef="") {{undefined | points | async}}
    mat-cell(*matCellDef="let user")
      | {{user.Points | points | async}}

  ng-container(matColumnDef="Follower")
    mat-header-cell(*matHeaderCellDef="") Follows
    mat-cell(*matCellDef="let user")
      mat-icon(*ngIf="user.Follower", color="primary") check

  ng-container(matColumnDef="Subscriber")
    mat-header-cell(*matHeaderCellDef="") Subscribed
    mat-cell(*matCellDef="let user")
      mat-icon(*ngIf="user.Subscriber", color="primary") check

  ng-container(matColumnDef="#Edit")
    mat-header-cell(*matHeaderCellDef="")
    mat-cell(*matCellDef="let user")
      a.mat-icon-button.pull-right(mat-button, (click)="editUser(user)", title="Edit user")
        mat-icon edit
