data-table(tableId="users-overview", [dataSource]="dataSource", [exportConfig]="exportConfig", [filterMapping]="tableFilterMapping")
  ng-container(columnDef="Username")
    header-cell(*headerCellDef="", sortProperty="Username", [sortDefault]="'ASC'") Username
    data-cell(*dataCellDef="let user", [ngClass]="getUsernameColorClass(user)") {{user.DisplayName}}

  ng-container(columnDef="Group")
    header-cell(*headerCellDef="", sortProperty="UserGroup.Name") Group
    data-cell(*dataCellDef="let user")
      | {{user.UserGroup.Name}}

  ng-container(columnDef="Recorded Time")
    header-cell(*headerCellDef="", sortProperty="RecordedTime") Recorded time
    data-cell(*dataCellDef="let user")
      | {{user.RecordedTime | time:false:true}}

  ng-container(columnDef="Points")
    header-cell(*headerCellDef="", sortProperty="Points") Points
    data-cell(*dataCellDef="let user")
      | {{user.Points | points | async}}

  ng-container(columnDef="Follower")
    header-cell(*headerCellDef="", sortProperty="Follower") Follows
    data-cell(*dataCellDef="let user")
      mat-icon(*ngIf="user.Follower", color="primary") check

  ng-container(columnDef="Subscriber")
    header-cell(*headerCellDef="", sortProperty="Subscriber") Subscribed
    data-cell(*dataCellDef="let user")
      mat-icon(*ngIf="user.Subscriber", color="primary") check

  ng-container(columnDef="Title")
    header-cell(*headerCellDef="", sortProperty="Title") Title
    data-cell(*dataCellDef="let user")
      | {{user.Title}}

  ng-container(columnDef="#Edit", [buttonsColumn]="1")
    header-cell(*headerCellDef="")
    data-cell(*dataCellDef="let user")
      a.mat-icon-button.pull-right(mat-button, (click)="editUser(user)", matTooltip="Edit user")
        mat-icon edit
