<mat-form-field>
    <mat-chip-list #chipListInput>
        <mat-chip *ngFor="let item of chips" (remove)="removeChip(item)">{{item}}
            <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
        <input [placeholder]="inputPlaceholder" [matChipInputFor]="chipListInput"
               [matChipInputSeparatorKeyCodes]="[188, 32, 13]" (matChipInputTokenEnd)="addChipItem($event)"/>
    </mat-chip-list>
    <mat-hint>
        <ng-content></ng-content>
    </mat-hint>
</mat-form-field>