<mat-form-field>
    <mat-chip-list #chipList>
        <mat-chip *ngFor="let item of chips" (remove)="removeChip(item)">{{item}}
            <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
        <input #chipListInput [placeholder]="inputPlaceholder" [matChipInputFor]="chipList"
               [matChipInputSeparatorKeyCodes]="[188, 32]" (matChipInputTokenEnd)="addChipItem($event)"
               [matAutocomplete]="autoComplete"/>
        <mat-autocomplete #autoComplete="matAutocomplete">
            <mat-option *ngFor="let community of communitiesClient.searchCache(chipListInput.value)"
                        [value]="community.Name">{{community.Name}}
                <small class="text-muted">&nbsp;by {{community.Owner.DisplayName}}</small>
            </mat-option>
        </mat-autocomplete>
    </mat-chip-list>
    <mat-hint>
        <ng-content></ng-content>
    </mat-hint>
</mat-form-field>