a(*ngIf="user != undefined", [routerLink]="user.Username | editUserLink", title="Click to view user details")
  span([ngClass]="usernameColorClass") {{user.DisplayName}}
  small.text-muted &nbsp;{{user.UserGroup.Name}}
