mat-form-field
  input(matInput, placeholder="Username", [required]="required",
  [formControl]="usernameControl", [matAutocomplete]="userAutoComplete")
  mat-autocomplete(#userAutoComplete="matAutocomplete")
    mat-option(*ngFor="let user of usersClient.searchCache(usernameControl.value)", [value]="user.Username")
      | {{user.DisplayName}}
  mat-hint The autocomplete only knows users Biliomi knows. If a user is not in there simply type their full name and hit enter. Biliomi will make sure it will be available next time.
  mat-error(*ngIf="usernameControl.hasError('required')") This field is required!
  mat-error(*ngIf="usernameControl.hasError('unknownUser')") This user can not be found!
