@primary-color: #c2185b;
@secondary-color: #f44336;
@text-color: #fff;
@ok-color: #77b300;
@not-ok-color: #ff3333;

.text-muted {
  color: darken(@text-color, 20%);
}

.text-primary {
  color: @primary-color;
}

.text-xecondary {
  color: @secondary-color;
}

.text-ok {
  color: @ok-color;
}

.text-not-ok {
  color: @not-ok-color;
}
