p Check out the latest followers and change the behaviour of Biliomi when new followers are registered.

.columns
  .col.span-8-of-12
    p Latest Followers

    data-table(tableId="latest-followers", [dataSource]="latestFollowersDataSource", [exportConfig]="exportConfig",
    [disablePagination]="true", [disableFilter]="true")
      ng-container(columnDef="Username")
        header-cell(*headerCellDef="") Username
        data-cell(*dataCellDef="let user")
          user-display([user]="user")

      ng-container(columnDef="Follows Since")
        header-cell(*headerCellDef="") Follows Since
        data-cell(*dataCellDef="let user")
          | {{user.FollowDate | date}}

  .col.span-4-of-12
    p &nbsp;

    form(#followerWatchSettingsForm="", (submit)="saveSettings()")
      mat-card
        mat-card-header
          mat-card-title Follower Watch Settings
          mat-card-subtitle &nbsp;

        mat-card-content
          mat-form-field
            input#points-settings-online-payout-interval(matInput, type="number", name="points-settings-online-payout-interval",
            placeholder="Follow Reward", required="true", [formControl]="followerRewardControl")
            mat-hint The amount of points to payout to new followers. Set to 0 for no payouts.
            mat-error(*ngIf="followerRewardControl.hasError('required')") This field is required!
            mat-error(*ngIf="followerRewardControl.hasError('min')") Please enter a valid amount (min 0).

          .mat-button-row.mat-button-row-blocks
            edit-template-button(templateKey="IncomingFollowNotice") Edit Incoming Follow Notice

        mat-card-actions
          button(mat-raised-button, color="primary", [disabled]="!isSettingsFormOk", matTooltip="Save")
            mat-icon done
          button(mat-button, type="button", (click)="initSettingsFields()", matTooltip="Refresh data")
            mat-icon refresh
