form(#defaultCommandEditForm="", (submit)="save()")
  h2(matDialogTitle) Editing command: &#33;{{editedCommand?.Command}}

  mat-dialog-content
    mat-spinner(*ngIf="editedCommand == undefined")

    p.text-muted([hidden]="!editedCommand?.SystemCommand").
      This is a system command, non-caster users cannot call this command.

    mat-form-field
      input#command-cooldown(matInput, type="number", name="command-cooldown", placeholder="Cooldown", required="true",
      [formControl]="commandCooldownControl", [errorStateMatcher]="fieldMatcher")
      mat-hint The cooldown for this command in milliseconds.
      mat-error(*ngIf="commandCooldownControl.hasError('required')") This field is required!

    mat-form-field
      input#command-price(matInput, type="number", name="command-price", placeholder="Price", required="true",
      [formControl]="commandPriceControl", [errorStateMatcher]="fieldMatcher")
      mat-hint The price for this command in {{'' | points | async}}.
      mat-error(*ngIf="commandPriceControl.hasError('required')") This field is required!

    user-group-select([hidden]="editedCommand?.SystemCommand", #userGroup="")

    mat-slide-toggle([hidden]="!editedCommand?.SystemCommand", [formControl]="moderatorCanAlwaysActivateControl").
      Moderators can always activate


    mat-form-field
      mat-chip-list(#aliassesChipList="")
        mat-chip(*ngFor="let alias of commandAliasses", (remove)="removeChip(alias)")
          | &#33;{{alias}}
          mat-icon(matChipRemove) cancel
      input(placeholder="Aliasses", [matChipInputFor]="aliassesChipList",
      [matChipInputSeparatorKeyCodes]="[188, 32, 13]", (matChipInputTokenEnd)="addChipItem($event)")
      mat-hint An alias is like a different name for a command, like shorter syntax for instance.

  mat-dialog-actions
    button(mat-raised-button, color="primary", [disabled]="!isFormOk", title="Save")
      mat-icon done
    button(mat-raised-button, type="button", color="warn", (click)="cancelEdit()", title="Cancel edit")
      mat-icon arrow_back
    button(mat-button, type="button", (click)="initFields()", title="Refresh data")
      mat-icon backspace
